In [194]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC

In [195]:
full_df = pd.read_csv('credit_messy.csv')

In [196]:
full_df.columns

Index(['ID', 'CreditLimit', 'Gender', 'Education', 'MaritalStatus', 'Age',
       'RepayStatApr', 'RepayStatMay', 'RepayStatJun', 'RepayStatJul',
       'RepayStatAug', 'RepayStatSep', 'BillSep', 'BillAug', 'BillJul',
       'BillJun', 'BillMay', 'BillApr', 'PaymentSep', 'PaymentAug',
       'PaymentJul', 'PaymentJun', 'PaymentMay', 'PaymentApr', 'Default'],
      dtype='object')

In [197]:
# list_of_months = ['Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
# for month in list_of_months:
#     full_df['RepayStat' + month] = full_df['RepayStat' + month].astype('category')

In [198]:
# full_df['Education'] = [4 if x > 4 else continue for x in full_df['Education']]

In [199]:
to_drop = (full_df.loc[full_df.Education > 4]).index

In [200]:
df = full_df.drop(to_drop)

In [201]:
df.MaritalStatus.value_counts()
to_drop_again = (full_df.loc[full_df.MaritalStatus == 0]).index

In [202]:
df = full_df.drop(to_drop_again)

In [203]:
df

,ID,CreditLimit,Gender,Education,MaritalStatus,Age,RepayStatApr,RepayStatMay,RepayStatJun,RepayStatJul,...,BillJun,BillMay,BillApr,PaymentSep,PaymentAug,PaymentJul,PaymentJun,PaymentMay,PaymentApr,Default
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [204]:
gender_dict ={1:'male', 2:'female'}
education_dict = {1: 'graduate school', 2: 'university', 3: 'high school', 4: 'others'}
marriage_dict = {1 : 'married', 2 : 'single', 3 : 'others'}

In [205]:
df['Gender'] = df['Gender'].map(gender_dict)
df['Education'] = df['Education'].map(education_dict)
df['MaritalStatus'] = df['MaritalStatus'].map(marriage_dict)

In [206]:
df.columns =['ID','CreditLimit','Gender','Education','MaritalStatus','Age',
        'RepayStatSep','RepayStatAug','RepayStatJul','RepayStatJun','RepayStatMay','RepayStatApr',
        'BillSep','BillAug','BillJul','BillJun','BillMay','BillApr',
        'PrevPaymentSep','PrevPaymentAug','PrevPaymentJul','PrevPaymentJun','PrevPaymentMay','PrevPaymentApr',
        'Default']

In [207]:
df = pd.get_dummies(df)

In [208]:
df.to_csv('dummied')

In [142]:
X = df.drop(columns = 'Default')
y = df.Default

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [192]:
svm.clf = Pipeline([('scaler', StandardScaler(),
                     'linear_svc', LinearSVC)])

ValueError: too many values to unpack (expected 2)